body{
	width: 960px;
	margin: 0 auto;
	background-image: url("../Images/backgroundmain.jpg");
	
}
h1, h2, h3, p, li{
	color: white;
	text-shadow: 0.1em 0.1em 0.2em black;
}
h2{
	font-family: 'Dancing Script', cursive;
}
h3, p, li{
	font-family: 'IM Fell DW Pica', serif;
	
}
hr{
	color: #fff;
}
h1{
	font-family: 'Dancing Script', cursive;
	font-size: 2.1875em; /*35px;*/
	color: #500000;
	text-shadow: 0.1em 0.1em 0.2em #67898A;
	float: left;
	padding-top: 32px;
	padding-left: 20px;
	padding-bottom: 0;
	opacity: 0.9;
	margin-bottom: 0;
}
h2{
	text-align: center;
	color: #500000;
	text-shadow: 0.1em 0.1em 0.2em white;
	font-size: 2.5em; /*40px;*/
	opacity: 0.75;
}
h3{
	font-size: 1.5625em;/*25px;*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
div.pgbk{
	width: 100%;
	background-color: black;
	overflow: hidden;
}
div.background{
	width:  100%;
	background-image: url("../Images/background.jpeg"); 
	vertical-align: top;
	margin: 0, 0, 0, 0;
	padding: 0, 0, 0, 0;
	overflow: hidden;
}
h3.afterphoto{
	padding-top: 20px;
	margin: 0;
}
#nav{
	width: 31.25%; /*300px;*/
	height: 40px;
	margin: 100px auto 0;
	list-style-type: none;
	padding: 0;
	overflow:hidden;
	float: right;
	vertical-align: sub;
	
}
#nav li{
	width: 33.333333%; /*100px;*/
	float: left;
	font-size: 1.5625em; /*25px;*/
	vertical-align: bottom;
}
nav.a{
text-decoration: none;
display: block;
height: 40px;
line-height: 40px;
text-align: center;
}
a:link {color: #2B4D4E; text-decoration: underline; }
a:active {color: #2B4D4E; text-decoration: underline; }
a:visited {color: #2B4D4E; text-decoration: underline; }
a:hover {color: #500000; text-decoration: none; }
a.button:link {color: #500000; text-decoration: none;}
a.button:active {color: #500000; text-decoration: none;}
a.button:visited {color: #500000; text-decoration: none;}
a.button:hover {color: #500000; font-weight: bolder;}

img.float_left{
	float: left;
	margin: 15px;
}
.column{
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}
aside{
	float: right;
	margin: 5px;
}
.box{
	width: 400px;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	display: block;
	
}
ol.gallery{
	list-style-type: none;
	
	width: 400px;
}
ol.gallery li{
	list-style-type: none;
	float: left;
}
ol.gallery img{
	border: 5px solid #fff;
	margin: 5px;
	display: block;
}
ol.gallery img:hover{
	border: 5px solid #500000;
}
ol.gallery a{
	outline: 0;
}
div{
	clear: both;
}
p.right{
	text-align: right;
	clear: both;
}
hr{
	margin: 50px;
}

p.footer_text{
    text-align: center;
 	padding-top: 50px;
}
/*
Start Button
*/
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
	
